a{
    color: #ffffff;
    text-decoration: none;
}
.header{
    position: fixed;
    z-index: 1000;
    top: 0; left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: -10px;
    margin-bottom: 0px;
    background-color: #689CD2;
    color: #ffffff;
    font-family: Arial;
}
#user{
    display: block;
    width: 270px;
}
.header_section{
    display: flex;
    align-items: center;
}

.header_item{
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}
.header_item:hover{
    background-color: #FF9900;
    border-radius: 4px;
}
.headerlogo{
    font-weight: bold;
    font-size: 25pt;
    padding-left: 10px;
    padding-top: 10px;
}
.headerButton{
    cursor: pointer;
}
#btnSignOut{
    background-color: transparent ;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    border: transparent;
}
#btnSignOut:hover{
    cursor: pointer;
    color: red;
}