#noteContent{
    display: flex;
    width: 100%;
    position: fixed;
    margin-top: 5%;
}
#listOfNotes{
    display: inline-block;
    position: relative;
    left: 0;top: 0;
}
#addNote{
    margin-left: 1%;
    height: 500px;
    display: block;
    position: relative;
    width: 480px;
    background-color: #41D873;
}
#addNote form{
    position: relative;
    padding-left: 10%;
    font-family: Arial;
    font-size: 14pt;
}
#note{
    display: inline-block;
    justify-content: center;
    margin-left: 1%;
    height: 500px;
    position: relative;
    width: 480px;
    background-color: #41D873;
}
#listOfNotes div{
    background-color: #7dd771;
    position: relative;
    right: 0px;
    width: 250px;
    height: 30px;
    color: #ffffff;
    font-family: Arial;
    font-size: 14pt;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

#contentOfNote{
    position: relative;
    left: 17%;
    width: 60%;
    height: 60%;
    background-color: rgba(195,234,191,0.75);
    font-family: Arial;
    font-size: 14pt;
    text-align: justify;
    padding: 10px;
    margin-top: 10%;
}
.change{
    font-size: 14pt;
    height: 10px;
    position: relative;
    top: 20%;
    margin-left: 10px;
    color: #cccccc;
}
.change:hover{
    cursor: pointer;
    color: red;

}
#dateChange{

    position: relative;
    left: 30%;
    margin-top: 5%;
    margin-right: 10px;
    text-align: center;
}
#dateCreate{
    text-align: center;
    left: 30%;
    position: relative;
    margin-top: 2%;
}
#listOfNotes div:hover{
    cursor: pointer;
    background-color: #9477c6;
}
#btnAddNote:hover{
    cursor: pointer;
    background-color: rgba(166,1,234,0.75);
}