#shopContent{
    display: flex;
    border: #41c1c6;
    margin-left: 100px;
    margin-top: 70px;
    margin-right: 100px;
}
#shopCategory{
    background-color: #cccccc;
    width: 20%;
    border: silver solid ;
    height: 570px;
}
/*  Каждая категория  */
.categoryItem{

    text-align: center;
    padding: 3px;
    margin: 3px;
    font-size: 14pt;
}
.categoryItem:hover{
    cursor: pointer;
    background-color: #9477c6;
    color: white;
}
/*  "Каталог товаров"  */
#logoCategory:hover{
    cursor: default;
}
#logoCategory{
    background-color: #7dd771;
    font-size: 20pt;
    padding: 3px;
    margin: 3px;
    font-family: "Calisto MT";
    text-align: center;
    color: white;
}
/*  Новости  */
#shopNews{
    display: block;
    margin-left: 50px;
}
.newsContent{
    width: 100%;
}
.newsItem{
    display: flex;
    width: 100%;
}
.newsName{
    margin-top: 15px;
    width: 100%;
    font-family: "Calisto MT";
    font-size: 20pt;
}
.newsItemItem{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    height: 190px;
    padding-left: 6px;
    padding-right: 6px;
    border: #cccccc solid 1px;

}
.newsItemItem:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
    color: #FF9900;
}
